$base-color: #6617cb;
$light-gray: #fafafa;
$dark-gray: #3d3d3d;
$pink: #d81d67;
$dark-pink: #a81f59;

.bgc-pink {
    background-color: $pink;
    &:hover { background-color: $dark-pink;}
}

.text-pink {
    color: $pink;
    &:hover { color: $dark-pink;}
}
